body {
    background-color: pink;
	display: grid;
	font-family: Helvetica, sans-serif;
	font-size: 1.6rem;
	min-height: 100vh;
	place-content: center;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    color: #333;
}

h2 {
    margin-top: 10px;
    font-size: 1rem;
    color: #333;
}

#calendar {
    border-collapse: collapse;
    margin-top: 20px;
}

#calendar th {
    background-color: #FF6347;
    color: white;
    padding: 10px;
}

#calendar td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

.date-14 {
    background-color: #ec4242;
    color: white;
}

.date-14:hover {
    background-color: #FF6347;
    cursor: pointer;
}

.no-button, .no-button:after {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #ec4242;
    border: none;
    outline: none;
    background-color: #ec4242;
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #FF6347;
    width: 100px;
    height: 50px;
    margin-bottom: 30px;
}
